body{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#h1-div{
    text-align: center;
}

#input-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#button-div{
    display: flex;
    justify-content: center;
}

#put-post-div{
    display: flex;
    flex-direction: column;
}

#output-area{
    border-top: 4px solid #1b2b34;
    background-color: rgb(218, 214, 214);
}

.button{
    width: 150px;
    height: 40px;
    font-size: 20px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    color: #318298;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 
    rgba(0,0,0,0.19);
    cursor: pointer;
}

#id-input, #title-input, #todo-status{
    width: 20vw;
    height: 30px;
}

#todo-status{
    width: 20.5vw;
    height: 34px;
    color: gray;
}
